/* home.css */
.home {
  background-image: url("../../img//home//fondoNocturno.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: static;
}

 